<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="/static/main.css">
    <script type="text/javascript">

        function addUserMessage(msg) {
            let div = document.createElement("div");
            div.classList.add("container"); 
            div.classList.add("darker"); 
            let p = document.createTextNode(msg);
            div.appendChild(p);
            document.getElementById("messageBox").appendChild(div);
        }

        function addBotMessage(msg) {
            let div = document.createElement("div");
            div.classList.add("container"); 
            let p = document.createTextNode(msg);
            div.appendChild(p);
            document.getElementById("messageBox").appendChild(div);
        }

        function handleSubmit()
        {
            //console.log("RUN")
            addUserMessage(document.getElementById("user_input").value);
            
            var payload = {
                user_input: document.getElementById("user_input").value
            };

            document.getElementById("user_input").value = ""

            var data = JSON.stringify( payload );

            fetch("/chatbot/mars",
                {
                    method: "POST",
                    body: data,
                    headers: {
                        "Content-type": "application/json; charset=UTF-8"
                    }
                })
            .then(function(res){ 
                return res.json()
            })
            .then(function(json){
                addBotMessage(json.response);

            })
        }
      </script>
  </head>
  <body>
    <!-- <form action="javascript:handleSubmit()">
        <label for="fname">Enter message:</label><br>
        <input type="text" id="user_input" name="user_input"><br>
        <input type="submit" value="Submit">
    </form> -->

    <div id="info-earth" class="info-planet">
        <div class="chatbox">
            <div class="messages" id="messageBox">

            </div>

            <div class="user_input">
                <form action="javascript:handleSubmit()">
                    <input type="text" id="user_input" name="user_input"><br>
                </form>
            </div>
        </div>
    </div>

    <!-- Max: This is scuffed im sorry but adds default start paragraph (copy from handleSubmit() above but with manual message)-->
    <script type = "text/javascript">
        var payload = {
                user_input: "Hi! Tell me more about your planet"
            };

            var data = JSON.stringify( payload );

            fetch("/chatbot/mars",
                {
                    method: "POST",
                    body: data,
                    headers: {
                        "Content-type": "application/json; charset=UTF-8"
                    }
                })
            .then(function(res){ 
                return res.json()
            })
            .then(function(json){
                addBotMessage(json.response);

            })

        
    </script>

  </body>
</html>
