<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Space Navigator - Homepage</title>
    <link rel="stylesheet" href="/static/main.css">

  </head>
  <body>
    <img class="homepageAlien" src="/static/sun_alien.png" style="top:40px; left:200px;">
    <img class="homepageAlien" src="/static/mercury_alien.png" style="top:180px; left:400px;">
    <img class="homepageAlien" src="/static/venus_alien.png" style="top:120px; left:920px;">
    <img class="homepageAlien" src="/static/earth_alien.png" ststyle="top:160px; left:1000px;"
    <img class="homepageAlien" src="/static/mars_alien.png" style="top:40px; left:20px;">
    <img class="homepageAlien" src="/static/jupiter_alien.png" style="top:240px; left:690px;">
    <img class="homepageAlien" src="/static/saturn_alien.png" style="top:244px; left:200px;">
    <img class="homepageAlien" src="/static/uranus_alien.png" style="top:320px; left:34px;">
    <img class="homepageAlien" src="/static/neptune_alien.png" style="top:380px; left:500px;">
    <img class="homepageAlien" src="/static/pluto_alien.png" style="top:400px; left:800px;">
    <a href="/solar"><img src="/static/start_button.png" alt="volume" class="center"> </a>
  </body>
</html>
