<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="static/main.css">
  <script type="text/javascript">

    function addUserMessage(msg, planet) {
      let div = document.createElement("div");
      div.classList.add("container");
      div.classList.add("darker");
      let p = document.createTextNode(msg);
      div.appendChild(p);
      document.getElementById("messageBox_"+planet).appendChild(div);
    }

    function addBotMessage(msg, planet) {
      let div = document.createElement("div");
      div.classList.add("container");
      let p = document.createTextNode(msg);
      div.appendChild(p);
      document.getElementById("messageBox_"+planet).appendChild(div);
    }

    function handleSubmit(planet) {
      //console.log("RUN")
      let input = document.getElementById("user_input_" + planet).value
      addUserMessage(input, planet);
      document.getElementById("user_input_" + planet).value = ""

      var payload = {
        user_input: input
      };



      var data = JSON.stringify(payload);

      fetch("/chatbot/" + planet,
        {
          method: "POST",
          body: data,
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          }
        })
        .then(function (res) {
          return res.json()
        })
        .then(function (json) {
          addBotMessage(json.response, planet);

        })
    }
  </script>
</head>

<body>

  <div id="canvas"></div>
  <!-- <div id="info-earth" class="info-planet"> -->
  <!-- </div> -->


  <!-- <div id="info-earth" class="info-planet"> -->
  <!--     <div class="chatbox"> -->
  <!--         <div class="messages" id="messageBox"> -->
  <!---->
  <!--         </div> -->
  <!---->
  <!--         <div class="user_input"> -->
  <!--             <form action="javascript:handleSubmit()"> -->
  <!--                 <input type="text" id="user_input" name="user_input"><br> -->
  <!--             </form> -->
  <!--         </div> -->
  <!--     </div> -->
  <!-- </div> -->
  <!---->
  <!-- <div id="info-moon" class="info-planet"> -->
  <!--     <div class="chatbox"> -->
  <!--         <div class="messages" id="messageBox"> -->
  <!---->
  <!--         </div> -->
  <!---->
  <!--         <div class="user_input"> -->
  <!--             <form action="javascript:handleSubmit()"> -->
  <!--                 <input type="text" id="user_input" name="user_input"><br> -->
  <!--             </form> -->
  <!--         </div> -->
  <!--     </div> -->
  <!-- </div> -->
  <!---->
  <!-- <div id="info-mars" class="info-planet"> -->
  <!--     <div class="chatbox"> -->
  <!--         <div class="messages" id="messageBox"> -->
  <!---->
  <!--         </div> -->
  <!---->
  <!--         <div class="user_input"> -->
  <!--             <form action="javascript:handleSubmit()"> -->
  <!--                 <input type="text" id="user_input" name="user_input"><br> -->
  <!--             </form> -->
  <!--         </div> -->
  <!--     </div> -->
  <!-- </div> -->
  <!---->
  <!-- <div id="info-jupiter" class="info-planet"> -->
  <!--     <div class="chatbox"> -->
  <!--         <div class="messages" id="messageBox"> -->
  <!---->
  <!--         </div> -->
  <!---->
  <!--         <div class="user_input"> -->
  <!--             <form action="javascript:handleSubmit()"> -->
  <!--                 <input type="text" id="user_input" name="user_input"><br> -->
  <!--             </form> -->
  <!--         </div> -->
  <!--     </div> -->
  <!-- </div> -->

  <script src="/static/space.js"></script>
</body>


</html>
