<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="static/main.css">
  <script type="text/javascript">

  </script>
</head>

<body>

  <div id="canvas"></div>
  <div id="settings">
    <image src="/static/volume.png" height="34px" width="34px"></image>
    <label class="switch">
      <input type="checkbox" id="tts_toggle">
      <span class="slider round"></span>
    </label>
  </div>
  <!-- <div id="info-earth" class="info-planet"> -->
  <!-- </div> -->


  <!-- <div id="info-earth" class="info-planet"> -->
  <!--     <div class="chatbox"> -->
  <!--         <div class="messages" id="messageBox"> -->
  <!---->
  <!--         </div> -->
  <!---->
  <!--         <div class="user_input"> -->
  <!--             <form action="javascript:handleSubmit()"> -->
  <!--                 <input type="text" id="user_input" name="user_input"><br> -->
  <!--             </form> -->
  <!--         </div> -->
  <!--     </div> -->
  <!-- </div> -->
  <!---->
  <!-- <div id="info-moon" class="info-planet"> -->
  <!--     <div class="chatbox"> -->
  <!--         <div class="messages" id="messageBox"> -->
  <!---->
  <!--         </div> -->
  <!---->
  <!--         <div class="user_input"> -->
  <!--             <form action="javascript:handleSubmit()"> -->
  <!--                 <input type="text" id="user_input" name="user_input"><br> -->
  <!--             </form> -->
  <!--         </div> -->
  <!--     </div> -->
  <!-- </div> -->
  <!---->
  <!-- <div id="info-mars" class="info-planet"> -->
  <!--     <div class="chatbox"> -->
  <!--         <div class="messages" id="messageBox"> -->
  <!---->
  <!--         </div> -->
  <!---->
  <!--         <div class="user_input"> -->
  <!--             <form action="javascript:handleSubmit()"> -->
  <!--                 <input type="text" id="user_input" name="user_input"><br> -->
  <!--             </form> -->
  <!--         </div> -->
  <!--     </div> -->
  <!-- </div> -->
  <!---->
  <!-- <div id="info-jupiter" class="info-planet"> -->
  <!--     <div class="chatbox"> -->
  <!--         <div class="messages" id="messageBox"> -->
  <!---->
  <!--         </div> -->
  <!---->
  <!--         <div class="user_input"> -->
  <!--             <form action="javascript:handleSubmit()"> -->
  <!--                 <input type="text" id="user_input" name="user_input"><br> -->
  <!--             </form> -->
  <!--         </div> -->
  <!--     </div> -->
  <!-- </div> -->

  <script src="/static/space.js"></script>
</body>


</html>
